<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BB2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>/WEB-INF/view/*</url-pattern>
  		<include-prelude>/common/head.jsp</include-prelude>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/index.jsp</url-pattern>
  		<include-prelude>/common/head.jsp</include-prelude>
  	</jsp-property-group>
  </jsp-config>
  
    <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>EUC-KR</param-value>
  	</init-param>
 </filter>
 
 <filter-mapping>
 	<filter-name>encodingFilter</filter-name>
 	<url-pattern>/*</url-pattern>
 </filter-mapping>
  
    <servlet>
     <servlet-name>BB2Controller</servlet-name>
     <servlet-class>controller.BB2Controller</servlet-class>
     <init-param>
        <param-name>configFile</param-name>
        <param-value>
           /WEB-INF/commandBB2.properties
        </param-value>
     </init-param>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>BB2Controller</servlet-name>
     <url-pattern>/bb2/*</url-pattern>
     
  </servlet-mapping> 
  
</web-app>